.error{border: 1px solid red;}
.hidden{display: none;}
.draft{
    background-color: #ffffe6 !important;
    border-color: #ffffe6 !important;
}
.deprecated{
    background-color: #ffe6e6 !important;
    border-color: #ffe6e6 !important;
}

/*** MODAL***/
.code_modal_table{
    margin: 0 auto;
    width: 100%;
    border: 1px solid #ddd;
}
.code_modal_td{
    padding: 5px 10px 5px 10px;
}
.code_modal_td{
    padding: 5px 10px 5px 10px;
}
.btn_code_modal{
    text-decoration:underline;
    font-size: 13px;
}

/***PDF***/
.mainPDF{
    width: 995px;
    text-align:center;
    font-family: "Times New Roman";
    font-size:12pt;
}

/***DES Browser: WIKI***/
button:focus {outline:0 !important;}
.wiki{
    max-width: 1000px;
    float: left;
}
.wiki_main{
    max-width: 1000px;
    padding-left: 15px;
}
.wiki_container{
    margin:auto;
    font-size:13px;
    padding-left: 45px !important;
}
.wiki_link{
     background-color:#e59400 !important;
     background-image:none !important;
     border-color:#ce8500 !important;
     margin-top:8px;
     margin-right:8px;
 }
.wiki_link:hover{
     background-color:#eaa932 !important;
     border-color:#ce8500 !important;
 }
.wiki_title{
    font-weight: bold;
    font-size: 19px;
}
.wiki_title_small{
    font-weight: bold;
    font-size: 16px;
}
.wiki_codingTable{
    font-weight: bold;
    font-size: 17px;
    background-color: blanchedalmond;
    width:100%;
    padding: 5px;
}
.wiki_subtitle{
    font-weight: bold;
    font-size: 14px;
}
.wiki_text{
    padding: 20px 0px 20px 15px;
}
.wiki_info{
    padding: 20px 20px 20px;
    display: block;
}
.wiki_active{
    font-weight: bold;
    color: #808080 !important;
}
.wiki_tableNameTitle_sub{
    background-color:#6699cc;
    color: #fff;
    font-weight:bold;
    font-size: 13px;
    text-align: center;
}
.wiki_header_title{
    color: #0d347c;
    font-weight: bold;
    font-size: 25px;
    padding-top:40px;
    text-decoration: none;
}
.wiki_navbar{
    padding-left: 60px;
}
.wiki_text_size{font-size: 16px;}
.wiki_deprecated{color:#ff0000;}
.wiki_draft{color:#e6b800;}
.wiki_deprecated_btn,.wiki_draft_btn{
    color: #333;
    background-color: #fff;
    border-color: #ccc !important;
}
.btn-default-reverse{
    color: #333;
    background-color: #e6e6e6;
    border-color: #ccc !important;
}
.btn-default-reverse:hover {
    color: #333;
    background-color: #ccc;
}
.wiki_activevar{color: #5cb85c;}
.wiki_deprecated_draft_message{
    padding-left:20px;
}
.wiki_error{
    color:red;
    font-weight:bold;
}
.wiki_text_inside{padding: 20px 0px 20px 40px;}
.wiki_header{
    background-color: #f9f9f9;
    box-shadow: none;
    background-image: none;
}
.wiki_logo_img{
    margin: 10px 20px 10px 56px;
    text-decoration: none;
}
.required_des{
    background-color:#ecf2f9;
}
.required_des td:nth-child(1){
    font-weight: bold;
}
.hub_header_title {
    color: #0d347c;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    padding-top: 12px !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    vertical-align: middle !important;
}

/***HARMONIST: SUBMIT BUTTON***/
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.btn-file{overflow:hidden;position:relative;vertical-align:middle;}.btn-file>input{position:absolute;top:0;right:0;margin:0;opacity:0;filter:alpha(opacity=0);transform:translate(-300px, 0) scale(4);font-size:23px;direction:ltr;cursor:pointer;}
.fileupload{margin-bottom:9px;}.fileupload .uneditable-input{display:inline-block;margin-bottom:0px;vertical-align:middle;cursor:text;}
.fileupload .thumbnail{overflow:hidden;display:inline-block;margin-bottom:5px;vertical-align:middle;text-align:center;}.fileupload .thumbnail>img{display:inline-block;vertical-align:middle;max-height:100%;}
.fileupload .btn{vertical-align:middle;}
.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists{display:none;}
.fileupload-inline .fileupload-controls{display:inline;}
.fileupload-new .input-append .btn-file{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.thumbnail-borderless .thumbnail{border:none;padding:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fileupload-new.thumbnail-borderless .thumbnail{border:1px solid #ddd;}
.control-group.warning .fileupload .uneditable-input{color:#a47e3c;border-color:#a47e3c;}
.control-group.warning .fileupload .fileupload-preview{color:#a47e3c;}
.control-group.warning .fileupload .thumbnail{border-color:#a47e3c;}
.control-group.error .fileupload .uneditable-input{color:#b94a48;border-color:#b94a48;}
.control-group.error .fileupload .fileupload-preview{color:#b94a48;}
.control-group.error .fileupload .thumbnail{border-color:#b94a48;}
.control-group.success .fileupload .uneditable-input{color:#468847;border-color:#468847;}
.control-group.success .fileupload .fileupload-preview{color:#468847;}
.control-group.success .fileupload .thumbnail{border-color:#468847;}

/***HARMONIST: DROP DOWN MENU DESKTOP/MOBILE***/
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover {background: #e2e1e1;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

table[data-sortable] th:after {
    margin-left: 0px !important;
}
table[data-sortable] th.sorted_class:hover{
    color: #3a87ad;
    background: #e6f5ff;
    border-bottom-color: #bce8f1;

}
table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] {
     background-color: #e6f5ff !important;
 }
table[data-sortable].sortable-theme-bootstrap.sop_discuss th[data-sorted="true"],table[data-sortable].sortable-theme-bootstrap.sop_discuss th.sorted_class:hover{
    background-color: #ffd9b3 !important;
    color:#663300 !important;
}
table[data-sortable].sortable-theme-bootstrap.sop_discuss th[data-sorted="true"][data-sorted-direction="ascending"]:after {
    border-bottom-color:#663300 !important;
    border-top-color:inherit;
}
table[data-sortable].sortable-theme-bootstrap.sop_discuss th[data-sorted="true"][data-sorted-direction="descending"]:after{
    border-top-color:#663300 !important;
    border-bottom-color:inherit;
}
table[data-sortable].sortable-theme-bootstrap.sop_discuss tbody td{
    border-top:1px solid #ffd9b3 !important;
}

/***DATATABLE***/
.dataTables_length label{
    float:left;
    font-weight:normal;
}
.dataTables_filter label{
    float:right;
    font-weight:normal;
}
.dataTables_filter input{
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#table_archive_info{float:left;}
#table_archive_paginate,#sortable_table_paginate{float:right;}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing:border-box;
    display:inline-block;
    min-width:1.5em;
    padding:0.5em 1em;
    margin-left:2px;
    text-align:center;
    text-decoration:none !important;
    cursor:pointer;
    *cursor:hand;
    color:#333 !important;
    border:1px solid transparent;
    border-radius:2px
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #333 !important;
    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    border:1px solid #bce8f1;
    background-color:#e6f5ff;
}
.dataTables_paginate{
    float: right;
}
.panel-default-archive{
    box-shadow: none;
}
#loadConceptsAJAX .dataTables_filter label,#loadConceptsAJAX .dataTables_length label{
    padding-top: 10px;
}
.nav>li>a {
    padding: 15px 10px;
}

/***SOP Builder NEW***/
.des-main {
    background-color: #FFC000;
    color: #111;
}
.des-labs{
    background-color: #9cce77;
    color: #111;
}
.des-dis{
    background-color: #87C1E9;
    color: #111;
}
.des-meds{
    background-color: #FB8153;
    color: #111;
}
.des-preg{
    background-color: #D7AEFF;
    color: #111;
}
.des-meta{
    background-color: #BEBEBE;
    color: #111;
}
.des-main:hover,.des-main:active,.des-main:focus,
.des-labs:hover,.des-labs:active,.des-labs:focus,
.des-dis:hover,.des-dis:active,.des-dis:focus,
.des-meds:hover,.des-meds:active,.des-meds:focus,
.des-preg:hover,.des-preg:active,.des-preg:focus,
.des-meta:hover,.des-meta:active,.des-meta:focus {
    color: #111 !important;
}
.desTable th{
    font-weight: normal !important;
    font-style: italic;
}
.des_draft{
    background-color: #ffffe6  !important;
}
.sopTable td:nth-child(1){
    width:70px  !important;
    vertical-align: middle !important;
    text-align: center !important;
    cursor: pointer !important;
}
.sopTable td:nth-child(2){
    width:150px  !important;
}
.sopTable td:nth-child(3){
    width:200px  !important;
}
.sopTable td:nth-child(4){
    width:808px  !important;
}

.des_draft_header{
    background-color: #ffffe6  !important;
}
.rowSelected{
    background-color:#e6f5ff !important;
}
.preview_table{
    font-size: 14px;
}
.preview_table td{
    padding: 8px !important;
}

/* to remove the link showing up on print option */
a[href]:after {
    content: "";
}
#preview_table .rowSelected{
    background-color: transparent;
}


/***LOADING SPINNER***/
#loader {
    /*position: absolute;*/
    left: 50%;
    top: 50%;
    display: block;
    position: fixed;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader-mini {
    display: block;
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}

.nav-padding-left{
    padding-left: 60px;
}
.option-btn{
    float:right;
    padding-left:20px;
}
.option-search{
    font-size: 16px;
    text-decoration: underline;
    float: left;
    padding-left: 16px;
    line-height: 2em;
}

/***Medium Devices, Desktops **/
@media (max-width: 992px) {
    colgroup col.active{
        background-color:transparent;
    }
}


/***Small Devices, Tablets**/
@media (max-width: 768px) {
    .option-btn{
        float:left;
        width: 50%;
    }
    .option-search{
        width:100%;
    }
    .nav-padding-left{
        padding-left: 15px !important;
    }
    .wiki_container{
        margin:auto;
        font-size:13px;
        padding-left: 0px !important;
    }
    .wiki_logo_img{
        margin: 10px 20px 10px 15px;
    }
    .hub_header_title{
        font-size: 18px;
        line-height: 2em;
    }
    .navbar-toggle{
        margin-top: 13px;
    }
    colgroup col.active{
        background-color:transparent;
    }
    #deadlinesAndEvents,#table_projectUpdate{
        overflow-wrap: break-word;
        word-wrap: break-word;
        overflow: hidden;
        table-layout:fixed;
    }
    #deadlinesAndEvents td,#deadlinesAndEvents th,#table_request td,#table_request th,#table_projectUpdate td,#table_projectUpdate th{
        word-wrap: break-word;
        white-space: normal;
    }
    #table_request{
        table-layout: fixed;
        width: 100%;
    }
    #btn_follow{
        float: left !important;
    }
    #singleRequestHeader{
        padding-bottom: 50px;
    }
    #table_archive_filter{
        padding-left: 0px !important;
    }
    #hubUsers{
        padding-right: 0px;
        margin-bottom: 40px !important;
    }
    #RedcapLinks{
        padding-left: 0px;
    }
    .modal-dialog{
        width: 350px !important;
    }
}
